/* @author: angad - basic layout, sidebar etc.
	patrick - categories and items
*/

body{
	width:1024px;
	margin:0 auto;
}

#sidebar{
	float:left;
	margin:50px 40px 0px 50px;
	padding-right:20px;
	border-right-style:dotted;
	border-right-width:4px;
	border-right-color:#989898;
	height:400px;
}

#content{
	float:right;
	margin:50px 500px 0px 50px;
}

#notselected{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#selected {
	border-style:solid;
	border-width:5px;
}

#image{
}

tr:nth-child(odd){
    background-color:#EEE;
}
img.zooming {
    max-height: 50px;
    max-width: 50px;
}
div.form-item {
    display:block;
}
div.form-item label {
    display:block;
    font-weight:bold;
}
span.form-required {
    color: #FFAE00;
}
#simplemodal-overlay {
    background-color:#000;
}
#simplemodal-container {
    background-color:#333;
    border:8px solid #444;
    padding:12px;
}
#modalprompt {
    display:none;
    overflow:visible;
    color:#BBB;
}
#modalprompt h2 {
    color:#5F87AE;
}
.simplemodal-close {
    background-color:#5F87AE;
    color:white;
    cursor:pointer;
    font-variant:small-caps;
    line-height: 150%;
    font-size:16px;
    font-weight:bold;
}
#modalcancel.simplemodal-close {
    padding:2px 4px;
}
#modalconfirm.simplemodal-close {
    text-decoration:underline;
    padding:2px 4px;
}

.reorderSave {
    border:1px gray;
    margin:auto;
    line-height: 150%;
    padding:1px;
    background:#EEF;
    cursor:pointer;
}